body {
  padding-bottom: 2rem;
}

.main {
	margin: 50px 0;
	text-align: center;
}

.main h1 {
	font-size: 40px;
}

.main h2 {
	font-size: 24px;
	padding: 50px 0;
	font-weight: normal;
}

.main input[type="file"] {
	margin: 50px auto 0;
	background: #00B4FF;
	color: #fff;
	border-radius: 5px;
	padding: 20px;
}

.main input[type="submit"] {
	margin-top: 50px;
}

.img-db img {
	padding: 10px 0;
}