body {
  padding-bottom: 2rem;
}

.main {
	margin: 50px 0;
	text-align: center;
}

.main h1 {
	font-size: 40px;
}

.main input[type="file"] {
	margin: 50px auto;
	background: #00B4FF;
	color: #fff;
	border-radius: 5px;
	padding: 20px;
}